body {
  text-align: center;
  font-family: Arial;
  margin-top: 80px;
}input {
  padding: 10px;
  width: 250px;
  margin: 5px;
}button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}a {
  display: block;
  margin-top: 15px;
}